* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f7f4;
  color: black;
  
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 30px;
  
}

.header_logo img {
  height: 60px;
}

.header_nav {
  display: flex;
  gap: 30px;
}

.header_nav a {
  font-weight: 500;
  color: #333;
  text-decoration: none;
}

.header_cta a {
  background-color: #d4a373;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.header_cta a:hover {
  background-color: black;
}

.hero {
  text-align: center;
  padding: 30px;
  background: linear-gradient(135deg, #fdf3e6, #f9f7f4);
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #222;
}

.hero h1 span,
.hero h4 span {
  color: #d4a373;
}

.hero h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero a {
  background-color: #d4a373;
  color: #fff;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
}

.hero a:hover {
  background-color: black;
}

.about {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 30px;
  background-color: #fff;
}

.aboutusparagraph {
  flex: 1;
}

.aboutusparagraph h1 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #222;
}

.aboutusparagraph span {
  color: #d4a373;
  font-weight: bold;
}

.aboutusimage {
  flex: 1;
}

.collections {
  padding: 30px;
  background-color: #f2efec;
}

.collections_intro {
  text-align: center;
  margin-bottom: 15px;
}

.collections_intro h1 span {
  color: #d4a373;
}

.collections_flex {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.collection_card {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  max-width: 250px;
}

.collection_card h3 {
  color: #222;
  margin: 10px;
}

.shop {
  padding: 30px;
  background-color: #fffaf4;
}

.shop_intro {
  text-align: center;
  margin-bottom: 20px;
}

.shop_flex {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.shop_card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
  flex: 1 1 280px;
}

.shop_card a {
  display: inline-block;
  margin-top: 0.5rem;
  background-color: #d4a373;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  
}

.shop_card a:hover {
  background-color: black;
}



.contact {
  padding: 4rem 2rem;
  background-color: #fff;
}

.contact_intro {
  text-align: center;
  margin-bottom: 2rem;
}

.contact_flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.contacts,
.contacts_info {
  flex: 1 1 300px;
  background-color: #f2efec;
  padding: 1.5rem;
  border-radius: 10px;
}

.contacts a {
  display: inline-block;
  margin-top: 0.5rem;
  background-color: #d4a373;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.contacts a:hover {
  background-color: black;
}


footer {
  background-color: #222;
  color: #fff;
  padding: 3rem 2rem;
  text-align: center;
}

.footer_logo img {
  height: 50px;
  margin-bottom: 1rem;
}

.footer_links a {
  display: block;
  margin: 0.3rem 0;
  color: #ccc;
}

.footer_links a:hover {
  color: black;
}

.socials_flex {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

hr {
  margin: 2rem 0;
  border: none;
  height: 1px;
  background-color: #444;
}

.rights {
  font-size: 0.9rem;
  color: #aaa;
}


@media (max-width: 412px) {
  header {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .about,
  .contact_flex,
  .shop_flex,
  .collections_flex {
    flex-direction: column;
  }

  .header_nav {
    justify-content: center;
  }

  .collection_card,
  .shop_card {
    max-width: 100%;
  }
}

